html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: aquamarine;
}

main {
    padding: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-row {
    display: flex;
    gap: 2rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}